<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="wamv"/>
  <arg name="gui" default="true"/>
  <arg name="pid_plot" default="false"/>

  <include file="$(find vrx_gazebo)/launch/wayfinding.launch">
  	<arg name="gui" value="$(arg gui)"/>
  </include>

  <include file="$(find wamv_gazebo)/launch/localization_example.launch"/>

  <include file="$(find vrx_speed_ctrl)/launch/speed.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="pid_plot" value="$(arg pid_plot)"/>
  </include>

  <node pkg="vrx_speed_ctrl" type="pose_control_pid_wamv_ned.py" name="pose_control" output="screen" ns="$(arg namespace)"> </node>

    <!-- Load PID parameters -->
  <rosparam file="$(find vrx_speed_ctrl)/config/pose_pid.yaml" command="load" ns="$(arg namespace)/control"/>  

</launch>