<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="wamv"/>
  <arg name="pid_plot" default="false"/>

  <!-- Load PID parameters -->
  <rosparam file="$(find vrx_speed_ctrl)/config/speed_pid.yaml" command="load" ns="$(arg namespace)/control"/>

  <node pkg="vrx_speed_ctrl" type="velocity_control_wamv.py" name="speed_control" output="screen" ns="$(arg namespace)"> </node>

  <group if="$(arg pid_plot)">
	  <node name="pos_vel_plot"
	        pkg="rqt_plot"
	        type="rqt_plot"
	        args="/$(arg namespace)/cmd_vel/sp/linear/x /$(arg namespace)/cmd_vel/sp/angular/z /$(arg namespace)/robot_localization/odometry/filtered/twist/twist/linear/x /$(arg namespace)/robot_localization/odometry/filtered/twist/twist/angular/z"  />
  </group>

</launch>