<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="wamv"/>
  <arg name="gui" default="true"/>
  <arg name="pid_debug" default="false"/>
  <arg name="pid_plot" default="false"/>

  <include file="$(find vrx_gazebo)/launch/vrx.launch">
  	<arg name="gui" value="$(arg gui)"/>
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="0" />
    <arg name="P" value="0" />
    <arg name="R" value="0" />
    <arg name="Y" value="0" />
    <arg name="world" value="$(find vrx_gazebo)/worlds/ocean.world" />
  </include>

  <include file="$(find wamv_gazebo)/launch/localization_example.launch"/>

  <include file="$(find vrx_speed_ctrl)/launch/speed_control.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="pid_plot" value="$(arg pid_plot)"/>
  </include>

  <!--include file="$(find vrx_speed_ctrl)/launch/pid_ros.launch">
  	<arg name="pid_debug" value="$(arg pid_debug)"/>
  </include-->

</launch>